.footer {
    position: relative;
    top: 110px;
    padding: 38px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;

    @media screen and (max-width: 876px) {
        align-items: center;
    }

    @media screen and (max-width: 576px) {
        top: 130px;
    }

    .footer__info {
        display: flex;
        flex-direction: column;
        max-width: 1012px;
        width: 100%;

        @media screen and (max-width: 876px) {
            align-items: center;
        }
    }

    .footer__copyright {
        color: #8E8E8E;
    }

    .footer__navbar {
        @media screen and (max-width: 876px) {
            text-align: center;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0px 16px 3px 0px;
            color: #00376B;

            li {
                display: inline-block;

                &:not(:last-child) {
                    margin: 0 16px 7px 0;
                }
            }
        }
    }
}