.header__navbar {
    margin: 0 auto;
    max-width: 975px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    .header__logo {
        width: 360px;
        height: 36px;
        margin-top: 14px;
    }

    .header__search {
        border: 1px solid lightgrey;
        min-width: 125px;
        width: 215px;
        height: 28px;
        border-radius: 3px;
        box-sizing: border-box;
    
        input {
            text-align: center;
            margin-top: 1px;
            border: none;
            font-size: 14px;
            line-height: 18px;
            padding: 3px 5px;
    
            &:focus {
                outline: none;
                text-align: left;
            }
        }
    
        .search-img {
            position: relative;
            top: 0px;
            left: 72px;
        }
    
        .quit-img {
            position: relative;
            top: -21px;
            left: 189px;
        }
        
    }

    .header__right-links {
        width: 360px;
        height: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .btn.log-in {
            height: 30px;
            width: 62.73px;
            background-color: #0095f6;
            box-sizing: border-box;
            font-weight: 600;
            padding: 5px 9px;
            margin-right: 0;
            text-align: center;
            font-size: 14px;
            line-height: 18px;
            border: none;
            border-radius: 4px;
            color: white;
        }
        
        .reg-link {
            width: 143.88px;
            height: 30px;
            color: rgba(var(--d69,0,149,246),1);
            font-weight: 600;
            line-height: 28px;
            font-size: 14px;
            margin-left: 15px;
            text-decoration: none;
            vertical-align: baseline;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
        }
    }
}